{% include 'main/links.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "main/css/base.css" %}{% endblock %}" />
{% load crispy_forms_tags %}

<style type="text/css">
    .alert-error {
        font-weight: bold;
        position: absolute;
        bottom: 0;
    }
    .alert-error > ul li {
        list-style-type: none;
        color: red;
        font-size: 1em;
    }
</style>

{% block content %}

    <div style="height: 19em; position: relative;">
        {% crispy form form.helper %}
        <h1 style="margin-left: 1em" id="result"></h1>
    </div>

    <script src="{% static "battles/__javascript__/fight_sim.js" %}"></script>
    <script type="text/javascript">
        if ("{{valid}}" == 'True') {
            var res = fight_sim.find_balance(
                "{{unit1}}", parseInt("{{count1}}"),
                "{{unit2}}", parseInt("{{count2}}"),
                parseInt("{{num_fights}}"));
            if (res[2] == 'True')
                var text =
                    res[0] + " {{plural2}} \u2248 " + res[1] + " {{plural1}}";
            else
                var text =
                    res[0] + " {{plural1}} \u2248 " + res[1] + " {{plural2}}";
            document.getElementById('result').innerHTML = text;
        }
    </script>

{% endblock content %}

