{% include 'main/links.html' %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "main/css/base.css" %}{% endblock %}" />
{% load crispy_forms_tags %}

{% block content %}

    {% crispy form form.helper %}

    <h1 style="margin-left: 1em" id="result"></h1>

    <script src="{% static "battles/__javascript__/fight_sim.js" %}"></script>
    <script type="text/javascript">
        if ("{{valid}}" == 'True') {
            var res = fight_sim.fight(
                "{{unit1}}", parseInt("{{count1}}"),
                "{{unit2}}", parseInt("{{count2}}"),
                parseInt("{{num_fights}}"));
            document.getElementById('result').innerHTML =
                "{{plural1}}: " + res[0] + "<br>" + "{{plural2}}: " + res[1];
        }
    </script>

{% endblock content %}
