{% include 'main/links.html' %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "main/css/base.css" %}{% endblock %}" />
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<style type="text/css">
  tr:hover { background-color: rgba(138, 187, 247, .6); },
</style>

{% block content %}

    {% crispy form form.helper %}

    <div style="margin-left: 1em; margin-right: 1em">
        {% render_table table %}
    </div>

{% endblock content %}