{% include 'battles/links.html' %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

<style type="text/css">
  tr:hover { background-color: #ffff99; }
</style>

{% block content %}

    <hr/>
    {% crispy form form.helper %}

    <div style="margin-left: 1em; margin-right: 1em">
        {% render_table table %}
    </div>

{% endblock content %}